<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/pasient.css"/>
    <script type="text/javascript" src="../static/js/tabs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="header">
        <div style="display: flex; flex-wrap: wrap;">
            <div id="bildevenstre" style="flex: 0 0 50%;">
            <a href="forside.html" target="_self"><img src="../static/images/logotre.jpg" alt="image" height="110px" width="(110*3.58)px"></a>
            </div>
            
            <div id= "bildehøyre" style="flex: 0 0 50%;">
            <img src="../static/images/tannhjulblaa.jpg" alt="image" height="90px" width="90px">
            </div> 
        </div>
    </div>

    <div class="btn-group" style="width:100%">
        <button class="tablinks" id="bredde" onclick="patientRealTime(event, 'knapp1', 'vann1', 'stat1')">Pasient 1</button>
        <button class="tablinks" id='bredde' onclick="patientRealTime(event, 'knapp2', 'vann2', 'stat2')">Pasient 2</button>
        <button class="tablinks" id="bredde" onclick="patientRealTime(event, 'knapp3', 'vann3', 'stat3')">Pasient 3</button>
        <button class="tablinks" id="bredde" onclick="patientRealTime(event, 'knapp4', 'vann4', 'stat4')">Pasient 4</button>
        <button class="tablinks" id="bredde" onclick="patientRealTime(event, 'knapp5', 'vann5', 'stat5')">Pasient 5</button>
        <button class="tablinks" id="bredde" onclick="patientRealTime(event, 'knapp6', 'vann6', 'stat6')">Pasient 6</button>
        <button class="tablinks" id="bredde" onclick="patientRealTime(event, 'knapp7', 'vann7', 'stat7')">Pasient 7</button>
    </div>

    <div class="grid-item">
        <div id="start">
            <div id="knapp1" class="tabcontent" class="grid-item"><button id="startstyle" onclick="startGiveState(1)"> Start </button></div>
            <div id="knapp2" class="tabcontent" class="grid-item"><button id="startstyle" onclick="startGiveState(2)"> Start </button></div>
            <div id="knapp3" class="tabcontent" class="grid-item"><button id="startstyle" onclick="startGiveState(3)"> Start </button></div>
            <div id="knapp4" class="tabcontent" class="grid-item"><button id="startstyle" onclick="startGiveState(4)"> Start </button></div>
            <div id="knapp5" class="tabcontent" class="grid-item"><button id="startstyle" onclick="startGiveState(5)"> Start </button></div>
            <div id="knapp6" class="tabcontent" class="grid-item"><button id="startstyle" onclick="startGiveState(6)"> Start </button></div>
            <div id="knapp7" class="tabcontent" class="grid-item"><button id="startstyle" onclick="startGiveState(7)"> Start </button></div>
        </div>
        <div class="grid-item-two">
            <div style="background-color: #54acec;">
                <div id="vann1" class="tabcontent" class="grid-item">
                    <h3>Vannglass</h3>
                    <iframe src="/glass.html" frameborder="0" width="100%" height="400"></iframe>

                </div>
                <div id="vann2" class="tabcontent" class="grid-item">
                    <h3>Vannglass pasient 2</h3>
                </div>
                <div id="vann3" class="tabcontent" class="grid-item">
                    <h3>Vannglass pasient 3</h3>
                </div>
                <div id="vann4" class="tabcontent" class="grid-item">
                    <h3>Vannglass pasient 4</h3>
                </div>
                <div id="vann5" class="tabcontent" class="grid-item">
                    <h3>Vannglass pasient 5</h3>
                </div>
                <div id="vann6" class="tabcontent" class="grid-item">
                    <h3>Vannglass pasient 6</h3>
                </div>
                <div id="vann7" class="tabcontent" class="grid-item">
                    <h3>Vannglass pasient 7</h3>
                </div>
            </div>
        <!--<div class="grid-item-two">--> 
            <div style="background-color: white;">
                
            <div id="stat1" class="tabcontent" class="grid-item">
                    <h3>Statistikk pasient 1</h3>
                    <iframe src="/graf.html" frameborder="0" width="100%" height="400"></iframe>

          
                </div>
                <div id="stat2" class="tabcontent" class="grid-item">
                    <h3>Statistikk pasient 2</h3>
                </div>
                <div id="stat3" class="tabcontent" class="grid-item">
                    <h3>Statistikk pasient 3</h3>
                </div>
                <div id="stat4" class="tabcontent" class="grid-item">
                    <h3>Statistikk pasient 4</h3>
                </div>
                <div id="stat5" class="tabcontent" class="grid-item">
                    <h3>Statistikk pasient 5</h3>
                </div>
                <div id="stat6" class="tabcontent" class="grid-item">
                    <h3>Statistikk pasient 6</h3>
                </div>
                <div id="stat7" class="tabcontent" class="grid-item">
                    <h3>Statistikk pasient 7</h3>
                </div>
            </div>
        </div>
    </div>
</body>