<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Display</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 600px; overflow-x: auto;">
    <canvas id="dataChart" width="2000" height="1200"></canvas>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/api/newbutton3')
            .then(response => response.json())
            .then(data => {
                if (data.numbers.length > 10) {
                    data.numbers = data.numbers.slice(-10);
                    data.tilt_angles = data.tilt_angles.slice(-10);
                    data.time = data.time.slice(-10);
                    data.acceleration = data.acceleration.slice(-10);
                }
    
                // Create labels for the chart based on the sliced data
                const labels = data.numbers.map((_, index) => `Økt ${data.numbers.length - 10 + index + 1}`);
    
                // Now create the chart with the sliced data and new labels
                const ctx = document.getElementById('dataChart').getContext('2d');
                const chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels, // use the new labels here
                        datasets: [{
                            label: 'Score',
                            data: data.numbers,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.8)',
                            fill: false,
                            yAxisID: 'y-axis-1'
                        }, {
                            label: 'Tilt',
                            data: data.tilt,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.8)',
                            fill: false,
                            yAxisID: 'y-axis-1'
                        }, {
                            label: 'Tid',
                            data: data.time,
                            borderColor: 'rgba(0, 128, 0, 1)',
                            backgroundColor: 'rgba(0, 128, 0, 0.8)', 
                            fill: false,
                            yAxisID: 'y-axis-1'
                        },{
                            label: 'Akselerasjon',
                            data: data.acc,
                            borderColor: 'rgba(255, 165, 0, 1)',
                            backgroundColor: 'rgba(255, 165, 0, 0.8)', 
                            fill: false,
                            yAxisID: 'y-axis-1'
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Gjennomsnitt',
                                font: {
                                    size: 18
                                }
                            }
                        },
                        scales: {
                            'y-axis-1': {
                                type: 'linear',
                                position: 'left'
                            }
                        },
                        maintainAspectRatio: false
                    }
                });
            })
            .catch(error => {
                console.error('Error loading data:', error);
            });
        });
    </script>
    
</body>
</html>
