<!DOCTYPE html>
<html>
<head>
    <title>Glass tilt</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glass Tilt Animation</title>
    <style>
        #glass {
            width: 150px;
            height: 200px;
            background-image: url('/static/images/glass.jpg');
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.2s linear;
        }
    </style>

</head>
<body>
<div id="glass"></div>

    <script>
        // Funksjon for å gjøre HTTP-forespørsel
        function makeHttpRequest() {
            // Gjør en HTTP-forespørsel (f.eks. med fetch API)
            fetch('/api/newbutton')
                .then(response => response.json())
                .then(data => {
                    // Modulerer tiltet til glasset basert på dataen mottatt
                    tiltGlass(data.tiltAngleX, data.tiltAngleY, data.tiltAngleZ);
                })
                .catch(error => {
                    console.error('Feil ved HTTP-forespørsel:', error);
                });
        }

        // Funksjon for å modulere tiltet til glasset
        function tiltGlass(tiltAngleX, tiltAngleY, tiltAngleZ) {
            // Her kan du implementere logikk for å modulere tiltet til glasset basert på dataen mottatt
            const glass = document.getElementById('glass');
            glass.style.transform = `rotateX(${tiltAngleX}deg) rotateY(${tiltAngleZ}deg)`;
        }

        // // Gjør en HTTP-forespørsel intervallvis
        setInterval(makeHttpRequest, 500);

        // Call this function when the page loads
        // window.onload = makeHttpRequest;
        
        
    </script>

</body>
</html>
